{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "voting-app.fullname" . }}-ingress
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "voting-app.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              {{- if eq .path "/vote" }}
              service:
                name: {{ include "voting-app.fullname" $ }}-vote
                port:
                  number: {{ $.Values.vote.service.port }}
              {{- else if eq .path "/result" }}
              service:
                name: {{ include "voting-app.fullname" $ }}-result
                port:
                  number: {{ $.Values.result.service.port }}
              {{- end }}
          {{- end }}
    {{- end }}
{{- end }}

