{{- if .Values.postgresql.auth.existingSecret }}
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "voting-app.fullname" . }}-secrets
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "voting-app.labels" . | nindent 4 }}
type: Opaque
stringData:
  postgres-password: {{ .Values.postgresql.auth.password | quote }}
  postgres-connection-string: "Server=postgres;Username={{ .Values.postgresql.auth.username }};Password={{ .Values.postgresql.auth.password }};Database={{ .Values.postgresql.auth.database }};"
  postgres-url: "postgres://{{ .Values.postgresql.auth.username }}:{{ .Values.postgresql.auth.password }}@postgres/{{ .Values.postgresql.auth.database }}"
{{- end }}

