apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: voting-app-dev

resources:
  - ../../base

namePrefix: dev-
commonLabels:
  environment: dev

replicas:
  - name: vote
    count: 1
  - name: result
    count: 1
  - name: worker
    count: 1

patches:
  - target:
      kind: Deployment
      name: vote
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: result
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: worker
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

